@model htmx_trello.Data.BoardDto

@if ((bool) (ViewData["RenderTitleTag"] ?? false))
{
    <title>@Model.Name - Htmello</title>
}
<h1 hx-get="@Url.Action("ShowEditBoardName", new { boardId = Model.BoardId })"
    hx-swap="outerHTML">
    @Model.Name
    <span class="badge bg-primary"
          hx-get="@Url.Action("GetCardCount", "Board", new { boardId = Model.BoardId })"
          hx-trigger="cardAdded from:body, cardRemoved from:body"
          hx-swap="innerHTML">
        @Model.CardCount
    </span>
</h1>