@model htmx_trello.Data.LaneDto

<div class="lane">
    <h5>@Model.Name</h5>

    <form class="sortable"
          data-lane="@Model.Name"
          hx-put="@Url.Action("SortCards", "Lane", new { boardId = Model.BoardId, laneId = Model.LaneId })"
          hx-trigger="add,update">
        @Html.AntiForgeryToken()
        @foreach (var card in Model.Cards)
        {
            <partial model="@card" name="_Card"/>
        }
    </form>
    <partial name="_AddCard" />
</div>